In [10]:
import requests
import pandas as pd
import re
from bs4 import BeautifulSoup

In [11]:
#def scape_coches_ocasion(url):

In [12]:
url = "https://www.ocasionplus.com/coches-ocasion?type%3DCAR%26sort%3DFECHAOP_DESC%26page%3D2"

In [17]:
llamada = requests.get(url)  
llamada

In [96]:
res_coches = requests.get(url)

In [21]:
sopa_coches = BeautifulSoup(res_coches.content, "html.parser")

In [69]:
lista_nombres_coche = sopa_coches.find_all("h2")[1:]

lista_nombres_coche[:3]

[<h2 style="overflow-x:hidden">Hyundai Kona 1.0 TGDi Klass 4x2 (120 CV)</h2>,
 <h2 style="overflow-x:hidden">Ford Focus 1.0 Ecoboost MHEV Trend+ (125 CV)</h2>,
 <h2 style="overflow-x:hidden">Hyundai i20 1.2 MPI (75CV) Essence LE</h2>]

In [34]:
#COLUMNA NOMBRES 

lista_nombre_coches_2 = []

for nombre in lista_nombres_coche:
    lista_nombre_coches_2.append(nombre.getText())
    break

lista_nombre_coches_2

['Hyundai Kona 1.0 TGDi Klass 4x2 (120 CV)']

In [38]:
#PRECIO ORIGINAL 

lista_precio_original = sopa_coches.find_all("span", {"class": "jsx-2870186023 priceLast"})
lista_precio_original[:4]

[<span class="jsx-2870186023 priceLast">15.990<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">14.990<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">11.990<!-- -->€</span>,
 <span class="jsx-2870186023 priceLast">16.490<!-- -->€</span>]

In [70]:
precios_originales = []

for precio in lista_precio_original:
     precios_originales.append(precio.text)


precios_originales[:4]

['15.990€', '14.990€', '11.990€', '16.490€']

In [45]:
#PRECIO REBAJADO 

lista_precio_rebajado = sopa_coches.find_all("span", {"class": "jsx-2689423372 price"})
lista_precio_rebajado[:4]

[<span class="jsx-2689423372 price">14.536<!-- -->€</span>,
 <span class="jsx-2689423372 price">13.627<!-- -->€</span>,
 <span class="jsx-2689423372 price">10.900<!-- -->€</span>,
 <span class="jsx-2689423372 price">14.991<!-- -->€</span>]

In [71]:
precios_rebajados = []

for precio in lista_precio_rebajado:
     precios_rebajados.append(precio.text)


precios_rebajados[:4]

['14.536€', '13.627€', '10.900€', '14.991€']

In [99]:
#KILOMETROS

extraccion_kms = sopa_coches.find_all("span", {"class": "jsx-3960002075 detail big"})
kms = extraccion_kms[1].getText()
kms

'57.556 km'

#MONTAMOS LA ESTUCTURA
- Coche
- Precio rebajado
- Precio original
- Kilómetros

In [108]:


#INFO QUE EXTRAEMOS DE LA WEB 
def scrape_coches_ocasion(url):
    res_coches = requests.get(url)
    print(f"La respuesta a tu petición ha sido de {res_coches.status_code}")
    sopa_coches = BeautifulSoup(res_coches.content, "html.parser")

 
    lista_nombres_coche = sopa_coches.find_all("h2")[1:]
    lista_precio_rebajado = sopa_coches.find_all("span", {"class": "jsx-2689423372 price"})
    lista_precio_original = sopa_coches.find_all("span", {"class": "jsx-2870186023 priceLast"})
    extraccion_kms = sopa_coches.find_all("span", {"class": "jsx-3960002075 detail big"})


#FOR LOOPS 

    for nombre in lista_nombres_coche:
        diccionario_coches["Coche"].append(nombre.getText())
        

    for precio in lista_precio_rebajado:
        diccionario_coches["Precio Rebajado"].append(precio.getText())
        

    for precio in lista_precio_original:
        diccionario_coches["Precio Original"].append(precio.getText())
        
    for x in kms:
        kms = extraccion_kms[1].getText()
        diccionario_coches["Kilómetros"].append(kms)
        

#¿nos falta añadirlo aqui no? 
diccionario_coches = {"Coche": [], "Precio Rebajado": [], "Precio Original": [], "Kilómetros": []}

In [109]:
diccionario_coches

{'Coche': [], 'Precio Rebajado': [], 'Precio Original': [], 'Kilómetros': []}

In [111]:
df_coches = pd.DataFrame(res_coches)